@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");
:root {
  --primary-color: #1a1826;
  --primary-font: "Roboto", sans-serif;
  --orange-color: #fa7353;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button {
  border: none;
  cursor: pointer;
}
body {
  position: relative;
  background-image: url("/bkgr.jpg");
  background-size: cover;
  font-family: var(--primary-font);
  color: var(--primary-color);
  overflow-x: hidden;
}

h3 {
  padding-block: 1.9rem;
  font-size: 1.4rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 3.4rem;
  padding-top: 3.2rem;
}

p {
  padding-top: 1.4rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
.dark {
  background: no-repeat url("/bckgrD.jpg");
  background-size: cover;
  color: white;
}
.container {
  max-width: 690px;
  margin-inline: auto;
}

.content {
  margin-top: 13rem;
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  min-height: 23.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

/*  Copied from old one

.premium {
  background: #fa7353;
  padding: 3.7rem 2.3rem;
}
.premium p,
h2,
span {
  color: white;
}
span {
  font-size: 4rem;
}
.premium h2 {
  font-size: 2.5rem;
  padding-bottom: 1.2rem;
}

.premium p {
  font-size: 1.1rem;
}

.ios {
  display: flex;
  justify-content: center;
  background: #191826;
  border-radius: 0.2rem;
  color: white;
  width: 20rem;
  font-size: 1.5rem;
  padding: 0.7rem;
  margin: 1.3rem 0rem;
}

.andr {
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 0.2rem;
  color: #191826;
  width: 20rem;
  font-size: 1.5rem;
  padding: 0.7rem;
}
.iodl {
  color: white;
}

.imgand {
  background: no-repeat url("img/andr.png");
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  margin-top: 0.2rem;
}
.imgio {
  margin-right: 0.5rem;
  background: no-repeat url("img/appl.png");
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
}
*/

.content__right {
  position: absolute;
  background-color: var(--orange-color);
  padding: 2.4rem 2rem;
  border-radius: 0.7rem;
  max-width: 17.5rem;
  right: 4rem;
  top: 4rem;
  transition: 1s ease-in-out;
}

.content__right h2 {
  color: white;
  letter-spacing: 0.15rem;
}

.content__right p {
  color: white;
  line-height: 1rem;
  overflow-wrap: break-word;
}

.content__right a {
  text-decoration: none;
}

.content__right span {
  font-size: 2.5rem;
  font-weight: 800;
}

.content__right--buttons {
  padding-top: 1rem;
}

.content__right--apple {
  background-color: var(--primary-color);
  padding: 0.8rem 2.75rem;
  border-radius: 0.5rem;
  color: white;
}

.content__right--android {
  text-align: center;
  background-color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  color: var(--primary-color);
}

.content__left {
  background-image: url("/phone.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 170px;
  min-height: 300px;
  position: absolute;
}
.absolute {
  background-image: url("/phone.png");
  background-repeat: no-repeat;
  min-width: 200px;
  min-height: 550px;
  position: absolute;
  top: 35%;
  z-index: 1;
  left: 30%;
  transition: 0.9s ease;
}

.footer {
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__rights p {
  padding-top: 2rem;
  line-height: 1rem;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 0.5rem;
}

.footer__icons .fa-3x {
  font-size: 1rem;
}
.example1 {
  width: 20px;
  height: 30px;
  border-radius: 10px;
  background-color: #fa7353;
  position: absolute;
  left: 20%;
  top: 50%;
}
/* .pho {
  position: relative;
  height: 200px;
  transform-style: preserve-3d;
} */

/* .parallax-window {
  min-height: 200px;
  background: transparent;
} */
.theme {
  position: fixed;
  left: 10px;
  top: 10px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}
.lightTheme {
  background: orange;
  border-radius: 7rem 7rem 0rem 0rem;
  min-width: 10px;
  min-height: 10px;
}
.darkTheme {
  background: grey;
  border-radius: 0rem 0rem 7rem 7rem;
  min-width: 10px;
  min-height: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  min-height: 19rem;
  min-width: 12.5rem;
  position: absolute;
  top: -1%;
  right: 16%;
  z-index: -1;
}
@media only screen and (max-width: 700px) {
  .grid {
    transform: rotate(90deg);
    opacity: 0.5;
  }
}
.grid__lefttop {
  border-radius: 3rem 3rem 0rem 0rem;
  background-color: aqua;
}
.grid__righttop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.grid__leftblue,
.grid__rightcenterblue {
  background: #191826;
}

.grid__rightredhalf {
  background: red;
  border-radius: 0rem 0rem 3rem 3rem;
}

.grid__leftcenterorange {
  background: orange;
  border-radius: 7rem 7rem 0rem 0rem;
}

.grid__rightdn {
  background: orange;
  border-radius: 0rem 0rem 7rem 7rem;
}
.grid__leftdn {
  background: #181626;
  border-radius: 0px 0px 500px 500px;
}

.grid__leftmid {
  background-color: aqua;
  border-radius: 0px 0px 0px 50px;
}

.grid__rightmid {
  position: relative;
  border: 0.1rem solid #191826;
  border-radius: 100%;
}

.grid__smallcircle {
  box-sizing: border-box;
  position: absolute;
  height: 3rem;
  width: 3rem;
  top: 50%;
  transform: translateY(-50%);
  left: -1px;
  border: 0.1rem solid #191826;
  border-radius: 100%;
}

.grid__botleft {
  position: relative;
  transition: 1s ease;
  background: #fa7353;
  border-radius: 9rem;
  top: 100px;
  transform: translate(500px, -100px);
  opacity: 0.2;
}

.grid__botright {
  /* background: no-repeat url("/asdf.jpg");
  background-size: cover; */
  background-color: #191826;
  border-radius: 0rem 5rem 5rem 5rem;
  cursor: pointer;
  z-index: 5;
}
.grid__botright:hover {
  cursor: pointer;
}
.arrow {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  z-index: 20;
}
.arrowL {
  background: transparent;
  width: 1rem;
  height: 1rem;
  border: none;
}

.arrow__bottom--left {
  border-bottom: 5px solid;
  border-left: 5px solid;
  transform: rotate(45deg);
  transition: 0.5s ease-in;
  cursor: pointer;
}

/* .arrow__bottom--left:hover {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1rem 2rem 2rem 0rem;
  border-color: transparent aqua transparent transparent;
  cursor: pointer;
} */
.arrow__top {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.arrow__top--btn {
  border-bottom: 5px solid;
  border-left: 5px solid;
  transform: rotate(135deg);
  transition: 0.5s ease-in;
  cursor: pointer;
}

.arrow__bottom--right {
  border-bottom: 5px solid;
  border-left: 5px solid;
  transform: rotate(225deg);
  transition: 0.5s ease-in;
  cursor: pointer;
}
.arrow__bottom--down {
  border-bottom: 5px solid;
  border-left: 5px solid;
  transform: rotate(315deg);
  transition: 0.5s ease-in;
  position: relative;
  top: 8px;
  cursor: pointer;
}

.arrow__bottom {
  display: flex;
  gap: 1rem;
}
#randomButton {
  border: none;
}
#randomButton:hover {
  cursor: pointer;
  opacity: 0.3;
}
.arrow__bottom--down:hover,
.arrow__bottom--left:hover,
.arrow__bottom--right:hover,
.arrow__top--btn:hover {
  opacity: 0.5;
}

.arrow__bottom--down:active,
.arrow__bottom--left:active,
.arrow__bottom--right:active,
.arrow__top--btn:active {
  opacity: 0.5;
  border-color: #fa7353;
}
.dark .whiteArr {
  border-color: white;
}
.dark .whitebg {
  background-color: whitesmoke;
}

.dark .whitecircle {
  border-color: white;
}
.dark .whitecircleBg {
  background-color: whitesmoke;
}

.dark #randomButton:hover {
  cursor: pointer;
  background-color: aquamarine;
  opacity: 0.6;
}

.dark #randomButton {
  transition: 0.9s ease;
}

.dark .pink {
  background-color: salmon;
}

.dark .aqua {
  background-color: aquamarine;
}
